body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsuC77kIWZYC-I8cMPNQ2x012Up2KdF2qEeMRYZvnAz8IjEqs37Q")
}

h1{
<<<<<<< HEAD
    font-size: 40px;
  padding-top: 20px;
  font-weight: bolder;
  color: blue;

=======
    color: white;

}
h2 {
    color: white
>>>>>>> master
}